sudo: required
language: generic
services:
  -docker

before_install:
  - docker build -t test -f Dockerfile.dev .

script:
  - docker run -e CI=true test npm run test

deploy:
  provider: elasticbeanstalk
  region: "us-east-1"
  app: "fontend"
  env: "Fontend-env"
  bucket_name: "elasticbeanstalk-us-east-1-625413560706"
  bucket_path: "fontend"
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY
